#container {
  background-color: #05386b;
  height: 450px;
  width: 450px;
  border-radius: 450px;
  z-index: 950;
  position: relative;
}

.signal-button {
  border: none;
  outline: none;
  z-index: 2;
  width: 200px;
  height: 200px;
  margin-left: 15px;
  margin-top: 15px;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

.signal-button:hover {
  cursor: pointer;
}

#button1 {
  background-color: #5cdb95;
  border-top-left-radius: 450px;
}

#button1:hover {
  background-color: #8ce5b4;
}

#button2 {
  background-color: #f94d55;
  border-top-right-radius: 450px;
}

#button2:hover {
  background-color: #fa8186;
}

#button3 {
  background-color: #fbe551;
  border-bottom-left-radius: 450px;
}

#button3:hover {
  background-color: #fcec85;
}

#button4 {
  background-color: #2e9cca;
  border-bottom-right-radius: 450px;
}

#button4:hover {
  background-color: #69badc;
}

#button-container {
  background-color: #05386b;
  height: 250px;
  width: 250px;
  border-radius: 250px;
  position: absolute;
  z-index: 1000;
  top: 100px;
  left: 100px;
}

#controlButton {
  background-color: white;
  position: absolute;
  border: none;
  outline: none;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  font-weight: 500;
  font-size: 28px;
  font-family: "Roboto Mono", monospace;
  top: 25px;
  left: 25px;
  text-align: center;
}

#controlButton:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

#level {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 24px;
  width: 450px;
  text-align: center;
}

#game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes emphasize {
  50% {
    transtition: transform 1s;
    transform: scale(1.1);
  }
}
