body {
  background-color: #48c6d2;
}

#score {
  font-family: "Press Start 2P", cursive;
}

#flappy-bird {
  width: 75px;
  height: auto;
  left: 300px;
  bottom: 270px;
  position: fixed;
}

.pipe {
  width: fit-content;
  height: auto;
  position: fixed;
}

.pipe-img {
  width: 110px;
  height: auto;
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* Or the specific width of your image */
  background-image: url("assets/background.png");
  background-size: auto 100%; /* Scale height to fit screen, keep width proportional */
  background-repeat: repeat-x;
  background-position: bottom;
}

#ground-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 112px;
  z-index: 10;
  overflow: hidden;
}

.ground-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/ground.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

@keyframes color-change {
  0% {
    color: red;
  }

  50% {
    color: white;
  }

  100% {
    color: red;
  }
}
